      <% if user_signed_in? && current_user.favd?(impression.id) %>
          <td><%= link_to 'いいね解除', destroy_favorite_path(impression.id), method: :DELETE, remote: true %></td>
      <% else %>
          <td><%= link_to 'いいね', create_favorite_path(impression.id), method: :POST, remote: true %></td>
      <% end %>