/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
    text-decoration:none;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  padding-bottom: 0;
}
 header {
  width: 100%;
  height: 100px;
  text-align: center;
}
.header-logo{
  align-items: center;
  font-size: 40px;
}

.header-nav-ber {
  justify-content: space-between;
}
.header-nav-ber-item{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 25px;
}
main{
  min-height: calc(100vh - 100px);
  padding-bottom: 30px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.body{
  display: flex;

}
.new-impression{
  width: 25%;
  text-align: left;
}
.impression-body{
  width: 50%;
}
.impression-list{
  display: flex;
  flex-direction:column;
  border: solid;
}
.impression-list-head{
  display: flex;
  flex-direction:row;
  align-items: center;
}
.impression-list-body{
  text-align: left;
}
.impression-list-link{
  text-align: left;
}
.good-icon-heartfull{
  width: 25px;
  height: 25px;
}
.good-icon-heartnull{
  width: 25px;
  height: 25px;
}
.footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  height: 60px;
}
.search-name {
  width: 50%;
  text-align: center;
  font-size: 25px;
}