/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
    text-decoration:none;
}

 header {
  width: 100%;
  height: 100px;
  background-color: red;
  text-align: center;
  font-family: “gagagaga_free”;
}
.header-logo{
  background-color: khaki;
  align-items: center;
  font-size: 40px;
}

.header-nav-ber {
  background-color: blue;
}
.header-nav-ber-item{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 25px;
}
main{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.body{
  display: flex;

}
.new-impression{
  width: 25%;
  text-align: left;
}
.impression-body{
  width: 65%;
}
.impression-list{
  display: flex;
  flex-direction:column
}
.impression-list-head{
  display: flex;
  flex-direction:row;
  align-items: center;
}
.impression-list-body{
  text-align: left;
}
.impression-list-body-name{
  
}
.impression-list-link{
  text-align: left;
}
.good-icon-heartfull{
  width: 25px;
  height: 25px;
}
.good-icon-heartnull{
  width: 25px;
  height: 25px;
}
footer {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom:0;
  background-color: blue;
}